@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
  @apply font-thin leading-relaxed;
}

a:hover {
  @apply clickable-hover;
}

a {
  @apply clickable;
  @apply underline decoration-1 underline-offset-2 transition-all duration-200 ease-in-out;
}

h3 {
  @apply mb-2 mt-2 text-lg font-bold;
}

/* Used for animating div increasing in height */
.super-max-height {
  max-height: 1000vh;
}

.clickable {
  @apply transition-all duration-200 ease-in-out;
}

.clickable-hover {
  @apply cursor-pointer bg-blue-950 text-lime-500;
}

.clickable:hover {
  @apply clickable-hover;
}
