@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --link-hover-color: #8795ac;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-y: scroll;
  @apply font-thin leading-relaxed;
}

/* Dark mode variables */
.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 26, 32, 44;
  --background-end-rgb: 74, 85, 104;
}

/* Apply dark mode styles */
.dark body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  color: rgb(var(--foreground-rgb));
  transition: all 0.2s ease;
}

a:visited {
  color: rgb(var(--foreground-rgb));
}

a:active {
  color: rgb(var(--foreground-rgb));
}

a:hover {
  color: var(--link-hover-color);
  @apply bg-blue-950 text-lime-500;
}

ul {
  @apply list-inside list-disc;
}

h3 {
  @apply mb-2 mt-2 text-lg font-bold;
}
